*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   overflow: hidden;
}
.fundo{
    background: linear-gradient(#a404b2 , #00fff8 100%);
    background-repeat: no-repeat;
    width: 300%;
    height: 300vb;

}

.quadradoprincipal{
    background: linear-gradient(#9dffff , #f587ff);
    width: 900px;
    height: 290px;
    border-radius: 15px;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.barradepesquisa{
    background-color: white;
    display: flex;
    align-items: center;
    top: 270px;
    width: 650px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    transform: translate(50% , 50%);
    z-index: 2;
    right: 645px;
}
.lupa{
    position: absolute;
    left: 0;
     transform: scale(0.05);
     right: 480%;
     z-index: 5;
}
.titulo{
    position: relative;
    top: -15px;
    transform: scale(1.0);

}

.linhavertical{
    transform: translate(-50%);
    top: 10%;
    width: 1px; 
    height: 70%;
    background-color: #000; 
    position: absolute; 
    left:95%;
    bottom: -100%;
    right: 0;
}
.botao{
    text-align: center;
    cursor: pointer;
    right: 0%;
    top: 100px;
    transform: scale(0.25);
    size: 100%;
    margin-left: -84px;
}

/*REMOVE A BORDA AO REDOR DO TEXTO*/
input[type="text"] {
    border: none;
    margin: 0; 
    padding: 0; 
    outline: none;
    height: 20px;
    width: 300px;
    transform: translate(15%);

}

